# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

dist/*

# Swagger UI vendored bundles (loaded from CDN in docs/index.html)
docs/swagger-ui*.js
docs/swagger-ui*.css

# Vim swap files
*.swp
